stocks_csvs_new/
stocks_csvs_raw/
stocks_csvs_splits/
stocks_csvs_raw_backup/
train_dfs_with_scores/
train_correls/
test_dfs_with_scores/
intraday_backtest_backups/
full_stocks_csvs_with_features/
normalized_test_dfs_with_scores/
normalized_train_dfs_with_scores/
config/alpaca/
config/alpha_vantage/
config/telegram/
venv/
.env
